[Unit]
Description=CDF Theophany Valve Control

[Service]
ExecStart=/home/pi/valve-control/valve_control.sh
Restart=always
RestartSec=1
KillSignal=SIGINT
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
Alias=valve_control.service
