[Unit]
Description=CDF Theophany Valve Control

[Service]
ExecStart=/home/pi/valve-control/valve_control.sh
Restart=always

[Install]
WantedBy=multi-user.target
Alias=valve_control.service
